/* header section */
header {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background-color: #020202;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.menu li a {
  color: #a3a3a3cc;
  white-space: nowrap;
}

.menu li a:hover,
.menu li a:active {
  color: #cccccc;
}

/* about section */
.about {
  margin-top: 120px;
  background-color: red;
}

.about-top {
  display: flex;
  background-color: blue;
}

/* conatct section */
.contact {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact form {
  display: grid;
  gap: 1rem;
  width: 50%;
}

.contact form input,
.contact form textarea,
.contact form select {
  padding: 15px 10px;
  font-size: 1rem;
  outline: none;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #cacaca;
}
.submit-btn-box {
  text-align: center;
}

.submit-btn-box .submit-contact-btn {
  background-color: #cacaca;
  border-radius: 16px;
  border: none;
  width: 220px;
  cursor: pointer;
}
